# Node
node_modules/
dist/
*.log
npm-debug.log*

# Angular
.angular/
coverage/

# Python
__pycache__/
*.pyc
.venv/
*.egg-info/

# Environment variables (NEVER commit these)
.env

# Docker volumes
postgres_data/
mongo_data/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
